In [1]:
# Create a DataFrame using Lists

import pandas as pd

name_list = ['Rama','Shivam','Neha']
age_list = [35,32,22]
salary_list = [25000,30000,32000]            # Zip the lists (data)
data_list = zip(name_list,age_list,salary_list)  #
df1 = pd.DataFrame(data_list)
print(df1)
print("\n================Provide names to Columns==================")
col_names = ['Name','Age','Salary']     # Create a list for column names
data_list = zip(name_list,age_list,salary_list)
df2 = pd.DataFrame(data_list, columns=col_names)
print(df2)
print("\n================Provide names to Rows df3==================")
row_names = [1,2,3]
data_list = zip(name_list,age_list,salary_list)
df3 = pd.DataFrame(data_list,index=row_names)
print(df3)

print("\n================Add new column to existing DataFrame df3==================")
city_list = ['Hyd','Blr','Chn']
df3['City'] = city_list
print(df3)

        0   1      2
0    Rama  35  25000
1  Shivam  32  30000
2    Neha  22  32000

================Provide names to Columns==================
     Name  Age  Salary
0    Rama   35   25000
1  Shivam   32   30000
2    Neha   22   32000

================Provide names to Rows df3==================
        0   1      2
1    Rama  35  25000
2  Shivam  32  30000
3    Neha  22  32000

================Add new column to existing DataFrame df3==================
        0   1      2 City
1    Rama  35  25000  Hyd
2  Shivam  32  30000  Blr
3    Neha  22  32000  Chn

In [2]:
a = 20
b = 40
a+b

60